/.vscode
/1MarioModel.pt
/300k MarioModel.pt
/400k MarioModel.pt
/Chapter 2 - 4 Armed Bandit - Alejandro.docx
/Chapter 3 Questions.docx
/CSC492 - Assignment 1.docx
/DeepQNetwork-Ale-Desktop-2.py
/DeepQNetwork-Ale-Desktop.py
/policy_first.bin